<div>
<img src="https://business.theaudienceawards.com/images/hero.jpg" style="width: auto; height:400px; margin: 0 auto; display: block;" />
</div>

<h1>ALPHA BLOG</h1>
<h2>About page</h2>

<%= link_to 'Home', root_path %>